[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ger Hennessy (gerardh)
[access "refs/for/refs/*"]
	read = group user/Ger Hennessy (gerardh)
	push = group user/Ger Hennessy (gerardh)
	label-Code-Review = -2..+2 group user/Ger Hennessy (gerardh)
	label-Verified = -1..+1 group user/Ger Hennessy (gerardh)
	rebase = group user/Ger Hennessy (gerardh)
	removeReviewer = group user/Ger Hennessy (gerardh)
	submit = group user/Ger Hennessy (gerardh)
[access "refs/heads/*"]
	read = group user/Ger Hennessy (gerardh)
	create = group user/Ger Hennessy (gerardh)
	push = +force group user/Ger Hennessy (gerardh)
	pushMerge = group user/Ger Hennessy (gerardh)
[access "refs/tags/*"]
	push = group user/Ger Hennessy (gerardh)
	push = +force group user/Ger Hennessy (gerardh)
